Repository yoursnowball/snowe-iOS, pull requests merged in 2021-11, with the labels that each got.

#2 [#1] 라이브러리 추가
  Snowman/.swiftlint.yml
  Snowman/Podfile
  Snowman/Podfile.lock
  Snowman/Snowman.xcodeproj/project.pbxproj
  Snowman/Snowman.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: add, yoonseo🧤

#27 [#4] fcm 연동
  Snowman/Podfile
  Snowman/Podfile.lock
  Snowman/Snowman.xcodeproj/project.pbxproj
  Snowman/Snowman/Snowman.entitlements
  Snowman/Snowman/Support/AppDelegate.swift
  Snowman/Snowman/Support/Config/GoogleService-Info.plist
  Snowman/Snowman/Support/Config/Info.plist
Labels: feat, add, yoonseo🧤

#28 [#17] 알림뷰 UI 구현
  Snowman/Snowman.xcodeproj/project.pbxproj
  Snowman/Snowman/Source/Feature/Notification/Cell/NotificationTableViewCell.swift
  Snowman/Snowman/Source/Feature/Notification/View/NotificationViewController.swift
  Snowman/Snowman/Source/Model/APIModel/NotificationResponse.swift
Labels: feat, yoonseo🧤

#34 [#4] FCM SDK 변경
  Snowman/Snowman.xcodeproj/project.pbxproj
  Snowman/Snowman/Support/Config/GoogleService-Info.plist
  Snowman/Snowman/Support/Config/Info.plist
Labels: feat, yoonseo🧤

#37 [#36] 랭킹 VC 레이아웃 구현 완료
  Snowman/Snowman.xcodeproj/project.pbxproj
  Snowman/Snowman/Resource/Assets.xcassets/rankAward.imageset/Contents.json
  Snowman/Snowman/Resource/Assets.xcassets/rankAward.imageset/rankAward.png
  Snowman/Snowman/Resource/Assets.xcassets/rankAward.imageset/rankAward@2x.png
  Snowman/Snowman/Resource/Assets.xcassets/rankAward.imageset/rankAward@3x.png
  Snowman/Snowman/Resource/Font.swift
  Snowman/Snowman/Resource/Image.swift
  Snowman/Snowman/Source/Component/View/LevelStickerView.swift
  Snowman/Snowman/Source/Feature/Award/Cell/RankCollectionViewCell.swift
  Snowman/Snowman/Source/Feature/Award/TopTabBarViewController.swift
  Snowman/Snowman/Source/Feature/Award/View/RankViewController.swift
  Snowman/Snowman/Source/Feature/Home/View/HomeViewController.swift
  Snowman/Snowman/Source/Model/APIModel/RankResponse.swift
Labels: feat, yoonseo🧤

#39 [#36] 랭킹 서버연결
  Snowman/Snowman/Source/Feature/Award/View/RankViewController.swift
  Snowman/Snowman/Source/Network/API/AwardAPI.swift
  Snowman/Snowman/Source/Network/Service/AwardService.swift
  Snowman/Snowman/Source/Network/Service/UserService.swift
Labels: feat, yoonseo🧤

#48 [#46] Paging 대응
  Snowman/Snowman.xcodeproj/project.pbxproj
  Snowman/Snowman/Source/Feature/Award/Cell/RankCollectionViewCell.swift
  Snowman/Snowman/Source/Feature/Award/View/RankViewController.swift
  Snowman/Snowman/Source/Feature/Notification/Cell/NotificationTableViewCell.swift
  Snowman/Snowman/Source/Feature/Notification/View/NotificationViewController.swift
  Snowman/Snowman/Source/Model/APIModel/AlarmsResponse.swift
  Snowman/Snowman/Source/Model/APIModel/GenericPageArrayResponse.swift
  Snowman/Snowman/Source/Model/APIModel/RankResponse.swift
  Snowman/Snowman/Source/Model/APIModel/RankUserInfoResponse.swift
  Snowman/Snowman/Source/Network/API/UserAPI.swift
  Snowman/Snowman/Source/Network/Service/AwardService.swift
  Snowman/Snowman/Source/Network/Service/UserService.swift
Labels: fix, yoonseo🧤

#52 [#32] 홈, 캘린더 거의 다 완성
  Snowman/.swiftlint.yml
  Snowman/Snowman.xcodeproj/project.pbxproj
  Snowman/Snowman/Resource/Assets.xcassets/60_networkerror_sad_icon.imageset/60_networkerror_sad_icon.png
  Snowman/Snowman/Resource/Assets.xcassets/60_networkerror_sad_icon.imageset/60_networkerror_sad_icon@2x.png
  Snowman/Snowman/Resource/Assets.xcassets/60_networkerror_sad_icon.imageset/60_networkerror_sad_icon@3x.png
  Snowman/Snowman/Resource/Assets.xcassets/60_networkerror_sad_icon.imageset/Contents.json
  Snowman/Snowman/Resource/Assets.xcassets/calendar_check.imageset/Contents.json
  Snowman/Snowman/Resource/Assets.xcassets/calendar_check.imageset/calendar_check.png
  Snowman/Snowman/Resource/Assets.xcassets/calendar_check.imageset/calendar_check@2x.png
  Snowman/Snowman/Resource/Assets.xcassets/calendar_check.imageset/calendar_check@3x.png
  Snowman/Snowman/Source/Component/CalendarView/CalendarDayCell.swift
  Snowman/Snowman/Source/Component/CalendarView/CalendarView+DataSource.swift
  Snowman/Snowman/Source/Component/CalendarView/CalendarView.swift
  Snowman/Snowman/Source/Component/View/TodoView.swift
  Snowman/Snowman/Source/Feature/Calendar/CalendarTodoCell.swift
  Snowman/Snowman/Source/Feature/Calendar/CalendarViewController.swift
  Snowman/Snowman/Source/Feature/Calendar/TodoCell.swift
  Snowman/Snowman/Source/Feature/History/HistoryViewController.swift
  Snowman/Snowman/Source/Feature/Home/Cell/HomeTodoCell.swift
  Snowman/Snowman/Source/Feature/Home/View/HomeViewController.swift
  Snowman/Snowman/Source/Feature/NewCharacter/View/GoalCreationViewController.swift
  Snowman/Snowman/Source/Feature/NoNetworkViewController.swift
  Snowman/Snowman/Source/Model/APIModel/GoalResponse.swift
  Snowman/Snowman/Source/Model/APIModel/PostTodoResponse.swift
  Snowman/Snowman/Source/Model/APIModel/PutTodoResponse.swift
  Snowman/Snowman/Source/Model/APIModel/TodoResponse.swift
  Snowman/Snowman/Source/Model/AppModel/HistoryTodo.swift
  Snowman/Snowman/Source/Network/API/GoalAPI.swift
  Snowman/Snowman/Source/Network/API/TodoAPI.swift
  Snowman/Snowman/Source/Network/NetworkService.swift
  Snowman/Snowman/Source/Network/Service/TodoService.swift
  Snowman/Snowman/Source/Network/Service/UserService.swift
  Snowman/Snowman/Source/Network/URLConst.swift
  Snowman/Snowman/Source/Util/Date+.swift
  Snowman/Snowman/Source/Util/InternetConnectivity.swift
  Snowman/Snowman/Source/Util/String+.swift
Labels: feat, add, chore, yonghyun❄️

#63 [#55] 캘린더 API
  Snowman/Snowman.xcodeproj/project.pbxproj
  Snowman/Snowman/Source/Component/CalendarView/CalendarDayCell.swift
  Snowman/Snowman/Source/Component/CalendarView/CalendarView+DataSource.swift
  Snowman/Snowman/Source/Component/CalendarView/CalendarView.swift
  Snowman/Snowman/Source/Feature/Calendar/CalendarViewController.swift
  Snowman/Snowman/Source/Feature/Home/Cell/HomeTodoCell.swift
  Snowman/Snowman/Source/Model/APIModel/GetDailyGoalsResponse.swift
  Snowman/Snowman/Source/Model/APIModel/GetGoalsByDateResponse.swift
  Snowman/Snowman/Source/Model/APIModel/GetGoalsForCalendarResponse.swift
  Snowman/Snowman/Source/Network/API/GoalAPI.swift
  Snowman/Snowman/Source/Network/Service/GoalService.swift
  Snowman/Snowman/Source/Network/URLConst.swift
  Snowman/Snowman/Source/Util/Date+.swift
Labels: feat, add, yonghyun❄️

#65 [#64] 레벨 변화 대응, 과거 투두 입력 못 하게 막기, 빠진 UI 확인
  Snowman/Snowman.xcodeproj/project.pbxproj
  Snowman/Snowman/Source/Feature/Calendar/CalendarTodoCell.swift
  Snowman/Snowman/Source/Feature/Calendar/CalendarViewController.swift
  Snowman/Snowman/Source/Feature/History/HistoryViewController.swift
  Snowman/Snowman/Source/Feature/Home/Cell/HomeTodoCell.swift
  Snowman/Snowman/Source/Feature/SignUp/SignUpNameIdViewController.swift
  Snowman/Snowman/Source/Feature/SignUp/SignUpPasswordViewController.swift
  Snowman/Snowman/Source/Model/APIModel/PutTodoResponse.swift
  Snowman/Snowman/Source/Model/AppModel/LevelChange.swift
  Snowman/Snowman/Source/Util/Date+.swift
  Snowman/Snowman/Source/Util/String+.swift
Labels: feat, add, chore, fix, yonghyun❄️
